.logoSanofi{
    width: 7rem;
}

#dose{
    color: red;

}
.navbar a{
    font-weight: bold;
}


main {
    text-align: center;
    margin-top: 10rem;
  }
  
 
  .doses{
    margin-top: 4rem;
    align-items: center;
  }
  h2 {
    display: inline-block;
    margin: 0rem 10rem;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
  }
  
  .tratamento-conteiner {
    flex: 1;
    margin-right: 20px; 
  }
  
  .profilaxia-conteiner {
    flex: 1;
  }
  .button{
    display: block;
  }

  #pesoInput{
    width: 6rem;
  }