.logoSanofi {
  width: 5rem;
}



#dose {
  color: red;

}

#navbar{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  border-bottom: 0.3rem solid;

}
#navbar a{
  color: #2D689c;
  font-weight: bold;
}
#navbar p{
  color:black;
  font-weight: bold;
}

.dropdownMargin{
  margin-top: -1rem ;
}

.dropdownTitle{
  margin-top: 1rem;
}

.teste:hover{
  background-color: black;
}

main {
  text-align: center;
  margin-top: 10rem;
}
#comoUsar{
  font-size: 1.4rem;
}

#comoUsar p{
font-weight: bold;
margin-top: 1rem;
margin-left: 8rem;
}

#comoUsar h1{
  text-align: center;
  margin-top: 2rem;
}

#comoUsar button{
  text-align: center;
}

#botaoInicio{
  background-color: white;
  color: red;
  border: solid 0.1rem black;
  border-radius: 1rem;
  
}


.doses {
  margin-top: 4rem;
  align-items: center;
}

#doseH2 {
 
  display: inline-block;
  margin: 0rem 10rem;
}

.container {
  display: flex;
  justify-content: space-between;
}

.esquerdo-conteiner {
  flex: 1;
  margin-right: 5rem;
  margin-top: 3rem;
}

.direito-conteiner {
  flex: 1;
  margin-left: 20px;
  margin-top: 3rem;
}

#dosagem {
  font-size: 2rem;
  font-weight: bold;
}

#botao-tratamento-1,
#botao-tratamento-2 {
  margin: 1rem 1rem 0 1rem;
  border-radius: 1rem;
  height: 3rem;
  background-color: white;
}
#botao-tratamento-3{
  height: 3rem;
  width: 9rem;
  font-size: 0.7rem;
  color: red;
  font-weight: bold;
  border-radius: 1rem;
  background-color: white;
  margin-top: 5rem;
}

  


#botao-tratamento-1:not(.botao-ativo),
#botao-tratamento-2:not(.botao-ativo),
#botao-tratamento-3:not(.botao-ativo) {
  opacity: 0.5;
}


#botao-tratamento-1.botao-ativo,
#botao-tratamento-2.botao-ativo,
#botao-tratamento-3.botao-ativo {
  opacity: 1;
}
#insuficiencia-texto,#insuficiencia-texto2{
  color: red;
  font-weight: bold;
}

#pesoInput {
  width: 6rem;
}

footer{
  height: 4rem;
}

.score-h2{
  color:#0D5493;
  white-space: nowrap;
  padding-bottom: 2rem;
  font-weight: bold;
  
}

#inputs-score{
  text-align: start;
  width: 35rem;
}
#inputs-score-adaptado{
  text-align: start;
  width: 53rem;

}

.inputScore {
  transform: scale(1.5); 
  margin-right: 0.5rem;
  transition: transform 0.3s; 
}


.inputScore:hover {
  transform: scale(2); 
}


.textoScore {
  font-size: 1.07rem;
  font-weight: bold;
  white-space: nowrap;
  border-radius: 2rem;
  padding: 0.5rem 1rem; /* Adicione algum preenchimento para espaçamento interno */
}


.textoScoreGrande{
  font-size: 1.07rem;
  font-weight: bold;
  white-space: nowrap;
  padding: 0.5rem 1rem; /* Adicione algum preenchimento para espaçamento interno */

}

.textoScoreGrande:hover{
  color: blue;
  cursor: pointer;
}

.textoScore:hover {
  transform: scale(2rem);
  color: blue;
  border: 2px solid black; /* Adicione a borda apenas no estado :hover */
  cursor: pointer;
}


#fundoScore{
  background-color:#0059A7;
  font-weight: bold;
  color: #FFF6F5;
  font-size: 1.07rem;
  border: solid black;
  border-radius: 2rem;
  height: 10rem;
}
#fundoScoreCaprini{
  background-color:#0059A7;
  font-weight: bold;
  color: #FFF6F5;
  font-size: 1.07rem;
  border: solid black;
  border-radius: 2rem;
  height: 10rem;
}

#botaoSalvarScore{
  margin: 1rem 1rem 0 1rem;
  border-radius: 1rem;
  height: 3rem;
  background-color: white;

}
input:hover{
  cursor: pointer;
}
button:hover{
  cursor: pointer;
}

#linkTitulo{
  pointer-events: none;
}

.linha {
  margin-bottom: 20px;
}

#exportContent{
  text-align: left;
  margin-left: 5rem;
  margin-top: 2rem;
}

#exportContent h2{
  margin-top: 1rem;
}

#exportContent span{
  font-weight: 500;
  font-size: 1.2rem;


}


#botaoExport{
  background-color: azure;
}

/* 
Daqui pra baxo
*/ 

#fundoRecomendação{
  background-color:#0059A7;
  font-weight: bold;
  color: #FFF6F5;
  font-size: 1.07rem;
  border: solid black;
  border-radius: 2rem;
  height: 12rem;
  width:30rem;
}
#fundoRecomendação2{
  background-color:rgb(72, 139, 192);
  font-weight: bold;
  color: #FFF6F5;
  font-size: 1.07rem;
  border: solid black;
  border-radius: 2rem;
  height: 12rem;
  width:30rem;
}

#fundoRecomendação3{
  background-color:rgb(244, 122, 117);
  font-weight: bold;
  color: #FFF6F5;
  font-size: 1.07rem;
  border: solid black;
  border-radius: 2rem;
  height: 12rem;
  width:30rem;
}
#fundoRecomendação4{
  background-color:rgb(239, 61, 47);
  font-weight: bold;
  color: #FFF6F5;
  font-size: 1.07rem;
  border: solid black;
  border-radius: 2rem;
  height: 15rem;
  width:30rem;
}


#posologiabox{
  background-color:rgb(243, 207, 0);
  font-weight: bold;
  color: #FFF6F5;
  font-size: 1.07rem;
  border: solid black;
  border-radius: 2rem;
  height: 18rem;
  width:30rem;
}

#posologiabox2{
  background-color:rgb(239, 61, 47);
  font-weight: bold;
  color: #FFF6F5;
  font-size: 1.07rem;
  border: solid black;
  border-radius: 2rem;
  height: 18rem;
  width:30rem;
  
}

#posologiabox3{
  background-color:#0059A7;
  font-weight: bold;
  color: #FFF6F5;
  font-size: 1.07rem;
  border: solid black;
  border-radius: 2rem;
  height: 22rem;
  width:30rem;
}

.alinhar {
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
}


#oncologia1{
  background-color:#cc0303;
  font-weight: bold;
  color: #FFF6F5;
  font-size: 1.07rem;
  border: solid black;
  border-radius: 1.4rem;
  height:2rem;
  width:19rem;
}

#oncologia2{
  background-color:#6b6a68;
  font-weight: bold;
  color: #FFF6F5;
  font-size: 1.07rem;
  border: solid black;
  border-radius: 2rem;
  height: 4rem;
  width: 19rem;
}


#Enoxaparina{
  color:#180e5f;
  font-size:2.5rem;
  font-weight: bold;
}

#Enoxaparina2{
  color:#6b6a68;
  font-size:3.4rem;
  font-weight: bold;
}

#Enoxaparina3{
  color:#6b6a68;
  font-size:1.4rem;
}

#trataTev{
  background-color:#0059A7;
  font-weight: bold;
  color: #FFF6F5;
  font-size: 1.07rem;
  border: solid black;
  border-radius: 2rem;
  height: 6rem;
  width:21rem;
}

#peso1{
  color:#180e5f;
  font-size:1.5rem;
  font-weight: bold;
}

#peso{
  color:#180e5f;
  font-size:1;
  font-weight: bold;
}


#cardio{
  background-color:#cc0303;
  font-weight: bold;
  color: #FFF6F5;
  font-size: 1.07rem;
  border: solid black;
  border-radius: 1.4rem;
  height:5rem;
  width:17rem;
}

#dose{
  color:#6b6a68;
  font-size:1.4rem;
  font-weight: bold;
}